/* .auth-form{
    background-color: #fff!important;
    /* border: 1px!important; */
    /* border: black 1px;
    border-color: black!important;
    box-shadow: inset;
    width: 100%;
      max-width: 400px;
      padding: 15px;
      margin: 0 auto;
      background-color: #fff; */
      /* -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center; 
  } */
  
.auth_form {
  border-radius: 0px;
}

.auth_form input {
  border-radius: 0px;
}

.auth_form button {
  border-radius: 0px;
}

.auth-form__img {
    /* height: 4rem; */
    width: 3.8em;
    height: 100%;
}

